<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.OrionSecurityAuth.Impl.OrionSecurityAuthRequest" assembly="Atlantis.Framework.OrionSecurityAuth.Impl.dll" request_type="128" lpc="0"  ws_url="https://orion.starfieldtech.com.dev.sdl1.gdg/Security/Security.asmx">
    <ConfigValue key="DataSourceName" value="corp.web.mya.orion" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.OrionAddAttribute.Impl.OrionAddAttributeRequest" assembly="Atlantis.Framework.OrionAddAttribute.Impl.dll" request_type="453" lpc="0"  ws_url="https://orion.starfieldtech.com.dev.sdl1.gdg/Account/AccountOperations.asmx"/>
  <ConfigElement progid="Atlantis.Framework.FaxEmailApplyAddonPack.Impl.FaxEmailApplyAddonPackRequest" assembly="Atlantis.Framework.FaxEmailApplyAddonPack.Impl.dll" request_type="460" lpc="0" ws_url="http://commgtwyws.dev.glbt1.gdg/wscmyaAction/WSCmyaAction.dll?Handler=Default"  />
</ConfigElements>