<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Segmentation.Impl.ShopperSegmentRequest" assembly="Atlantis.Framework.Segmentation.Impl.dll" request_type="686" lpc="0">
    <ConfigValue key="DataSourceName" value="fastball.customertracking" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="SALES" />
  </ConfigElement>
</ConfigElements>