<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommLOCAccounts.Impl.EcommLOCAccountsRequest" assembly="Atlantis.Framework.EcommLOCAccounts.Impl.dll" request_type="563" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WSgdLOC/Service.asmx" />
</ConfigElements>