<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BuyerProfileAddUpdate.Impl.BuyerProfileAddUpdateRequest" assembly="Atlantis.Framework.BuyerProfileAddUpdate.Impl.dll" request_type="412" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>