<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="atlantis.xsl"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DotTypeForms.Impl.DotTypeFormsXmlRequest" assembly="Atlantis.Framework.DotTypeForms.Impl.dll" request_type="689" ws_url="https://tui.dev.int.secureserver.net" />
  <ConfigElement progid="Atlantis.Framework.DotTypeForms.Impl.DotTypeFormsHtmlRequest" assembly="Atlantis.Framework.DotTypeForms.Impl.dll" request_type="709" lpc="0" ws_url="https://tui.dev.int.secureserver.net"/>
  <ConfigElement progid="Atlantis.Framework.DotTypeClaims.Impl.DotTypeClaimsRequest" assembly="Atlantis.Framework.DotTypeClaims.Impl.dll" request_type="710" lpc="0" ws_url="https://tui.dev.int.secureserver.net" /> 
</ConfigElements>
