<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="atlantis.xsl"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DotTypeClaims.Impl.DotTypeClaimsRequest" assembly="Atlantis.Framework.DotTypeClaims.Impl.dll" request_type="710" lpc="0" ws_url="http://regcheck.dev.glbt1.gdg/regtrademarkwebsvc" />
</ConfigElements>
