<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="httpsBindingClientCert_IRegRaaVerifyWebSvc">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="&#xD;&#xA;https://dtvapp.dev.glbt1.gdg/RegRaaVerifyWebSvc/RegRaaVerifyWebSvc.svc&#xD;&#xA;"
                binding="wsHttpBinding" bindingConfiguration="httpsBindingClientCert_IRegRaaVerifyWebSvc"
                contract="DomainsRAAService.IRegRaaVerifyWebSvc" name="httpsBindingClientCert_IRegRaaVerifyWebSvc" />
        </client>
    </system.serviceModel>
</configuration>