<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.OrionEvent.Impl.OrionInsertEventRequest" assembly="Atlantis.Framework.OrionEvent.Impl.dll" request_type="680" lpc="0" ws_url="https://orion.starfieldtech.com.dev.sdl1.gdg/internal/eventqueue.asmx"/>
</ConfigElements>