<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
	<ConfigElement progid="Atlantis.Framework.ReferAFriend.Impl.ReferAFriendValidateRequest" assembly="Atlantis.Framework.ReferAFriend.Impl.dll" request_type="1" lpc="0">
		<ConfigValue key="DataSourceName" value="corp.web.mya.referafriend" />
		<ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
		<ConfigValue key="ApplicationName" value="MYA" />
		<ConfigValue key="RequestTimeout" value="00:00:05" />
	</ConfigElement>
	<ConfigElement progid="Atlantis.Framework.ReferAFriend.Impl.ReferAFriendMessageTemplateRequest" assembly="Atlantis.Framework.ReferAFriend.Impl.dll" request_type="2" lpc="0">
		<ConfigValue key="DataSourceName" value="corp.web.mya.referafriend" />
		<ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
		<ConfigValue key="ApplicationName" value="MYA" />
		<ConfigValue key="RequestTimeout" value="00:00:05" />
	</ConfigElement>
	<ConfigElement progid="Atlantis.Framework.ReferAFriend.Impl.ReferAFriendControlRequest" assembly="Atlantis.Framework.ReferAFriend.Impl.dll" request_type="3" lpc="0">
		<ConfigValue key="DataSourceName" value="corp.web.mya.referafriend" />
		<ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
		<ConfigValue key="ApplicationName" value="MYA" />
		<ConfigValue key="RequestTimeout" value="00:00:05" />
	</ConfigElement>
	<ConfigElement progid="Atlantis.Framework.ReferAFriend.Impl.ReferAFriendEnrollRequest" assembly="Atlantis.Framework.ReferAFriend.Impl.dll" request_type="4" lpc="0">
		<ConfigValue key="DataSourceName" value="corp.web.mya.referafriend" />
		<ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
		<ConfigValue key="ApplicationName" value="MYA" />
		<ConfigValue key="RequestTimeout" value="00:00:05" />
	</ConfigElement>
	<ConfigElement progid="Atlantis.Framework.ReferAFriend.Impl.ReferAFriendRequest" assembly="Atlantis.Framework.ReferAFriend.Impl.dll" request_type="5" lpc="0">
		<ConfigValue key="DataSourceName" value="corp.web.mya.referafriend" />
		<ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
		<ConfigValue key="ApplicationName" value="MYA" />
		<ConfigValue key="RequestTimeout" value="00:00:05" />
	</ConfigElement>
	<ConfigElement progid="Atlantis.Framework.ReferAFriend.Impl.ReferAFriendActivityRequest" assembly="Atlantis.Framework.ReferAFriend.Impl.dll" request_type="6" lpc="0">
		<ConfigValue key="DataSourceName" value="corp.web.mya.referafriend" />
		<ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
		<ConfigValue key="ApplicationName" value="MYA" />
		<ConfigValue key="RequestTimeout" value="00:00:05" />
	</ConfigElement>
	<ConfigElement progid="Atlantis.Framework.ReferAFriend.Impl.ReferAFriendActivitySummaryRequest" assembly="Atlantis.Framework.ReferAFriend.Impl.dll" request_type="7" lpc="0">
		<ConfigValue key="DataSourceName" value="corp.web.mya.referafriend" />
		<ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
		<ConfigValue key="ApplicationName" value="MYA" />
		<ConfigValue key="RequestTimeout" value="00:00:05" />
	</ConfigElement>
	<ConfigElement progid="Atlantis.Framework.ReferAFriend.Impl.ReferAFriendOptOutRequest" assembly="Atlantis.Framework.ReferAFriend.Impl.dll" request_type="8" lpc="0">
		<ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
		<ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
		<ConfigValue key="ApplicationName" value="MYA" />
		<ConfigValue key="RequestTimeout" value="00:00:05" />
	</ConfigElement>
</ConfigElements>