<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MobileAndroidPush.Impl.MobileAndroidPushRequest" assembly="Atlantis.Framework.MobileAndroidPush.Impl.dll" request_type="443" lpc="0" ws_url="https://android.apis.google.com/c2dm/send" />
</ConfigElements>