<?xml version="1.0" encoding="utf-8"?>
  <ConfigElements>
    <ConfigElement progid="Atlantis.Framework.CDS.Impl.CDSRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="424" lpc="0" ws_url="http://cms.dev.glbt1.gdg/">
      <!--Update this value with any name that describes your application. Used for associating an error with an application in the error log.-->
      <ConfigValue key="ApplicationName" value="TripletTests" />
    </ConfigElement>
    <ConfigElement progid="Atlantis.Framework.CDS.Impl.ContentVersionRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="687" lpc="0" ws_url="http://cms.dev.glbt1.gdg/">
      <!--Update this value with any name that describes your application. Used for associating an error with an application in the error log.-->
      <ConfigValue key="ApplicationName" value="TripletTests" />
    </ConfigElement>
    <ConfigElement progid="Atlantis.Framework.CDS.Impl.UrlWhitelistRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="688" lpc="0" ws_url="http://cms.dev.glbt1.gdg/">
      <!--Update this value with any name that describes your application. Used for associating an error with an application in the error log.-->
      <ConfigValue key="ApplicationName" value="TripletTests" />
    </ConfigElement>
    <ConfigElement progid="Atlantis.Framework.CDS.Impl.RoutingRulesRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="696" lpc="0" ws_url="http://cms.dev.glbt1.gdg/">
      <ConfigValue key="ApplicationName" value="TripletTests" />
      <!--Update this value with any name that describes your application. Used for associating an error with an application in the error log.-->
    </ConfigElement>
    <ConfigElement progid="Atlantis.Framework.CDS.Impl.PackageGroupRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="766" ws_url="http://cms.dev.glbt1.gdg/">
      <ConfigValue key="ApplicationName" value="TripletTests" />
      <!--Update this value with any name that describes your application. Used for associating an error with an application in the error log.-->
    </ConfigElement>
    <ConfigElement progid="Atlantis.Framework.CDS.Impl.PackageXMLRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="768" ws_url="http://cms.dev.glbt1.gdg/">
      <ConfigValue key="ApplicationName" value="TripletTests" />
      <!--Update this value with any name that describes your application. Used for associating an error with an application in the error log.-->
    </ConfigElement>
    <ConfigElement progid="Atlantis.Framework.CDS.Impl.PackageJSONRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="771" ws_url="http://cms.dev.glbt1.gdg/">
      <ConfigValue key="ApplicationName" value="TripletTests" />
      <!--Update this value with any name that describes your application. Used for associating an error with an application in the error log.-->
    </ConfigElement>
  </ConfigElements>
