<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RegDotTypeRegistry.Impl.RegDotTypeRegistryRequest" assembly="Atlantis.Framework.RegDotTypeRegistry.Impl.dll" request_type="639" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
</ConfigElements>
