<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.CDS.Impl" version="14.1.22.2" targetFramework="net40" />
  <package id="Atlantis.Framework.CDS.Interface" version="14.1.23.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="4.13.12.21" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockEngine" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockHttpContext" version="14.1.25.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="4.14.1.13" targetFramework="net40" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
</packages>