<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DotTypeAvailability.Impl.DotTypeAvailabilityRequest" assembly="Atlantis.Framework.DotTypeAvailability.Impl.dll" request_type="753" ws_url="https://regcheck.dev.glbt1.gdg/TldAvailabilitySvc/TldAvailSvc.svc" />
</ConfigElements>
