<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FastballEventMetrics.Impl.FastballEventMetricsRequest" assembly="Atlantis.Framework.FastballEventMetrics.Impl.dll" request_type="579" lpc="0" ws_url="https://fbevents.dev.glbt1.gdg/FES/service.svc">
    <ConfigValue key="CertificateName" value="corp.web.cart.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>

