<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HDVDValidateUserPass.Impl.HDVDValidateUserPassRequest" assembly="Atlantis.Framework.HDVDValidateUserPass.Impl.dll" request_type="491" lpc="0" ws_url="http://aries-mobilehccwebservices.dev.secureserver-net.ide/HCCAPIServiceAries.asmx" />
</ConfigElements>


