<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Iris.Impl.QuickCreateIncidentRequestHandler" assembly="Atlantis.Framework.Iris.Impl.dll" request_type="999" ws_url="https://iris-ws.dev.godaddy-com.ide/IrisWebService.asmx" />
  <ConfigElement progid="Atlantis.Framework.Iris.Impl.CreateIncidentRequestHandler" assembly="Atlantis.Framework.Iris.Impl.dll" request_type="998" ws_url="https://iris-ws.dev.godaddy-com.ide/IrisWebService.asmx" />
  <ConfigElement progid="Atlantis.Framework.Iris.Impl.AddIncidentNoteRequestHandler" assembly="Atlantis.Framework.Iris.Impl.dll" request_type="997" ws_url="https://iris-ws.dev.godaddy-com.ide/IrisWebService.asmx" />
  <ConfigElement progid="Atlantis.Framework.Iris.Impl.GetIncidentsByShopperIdAndDateRangeRequestHandler" assembly="Atlantis.Framework.Iris.Impl.dll" request_type="996" ws_url="https://iris-ws.dev.godaddy-com.ide/IrisWebService.asmx" />
  <ConfigElement progid="Atlantis.Framework.Iris.Impl.GetIncidentCustomerNotesRequestHandler" assembly="Atlantis.Framework.Iris.Impl.dll" request_type="995" ws_url="https://iris-ws.dev.godaddy-com.ide/IrisWebService.asmx" />
</ConfigElements>
