<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.QSCResendOrderEmail.Impl.QSCResendOrderEmailRequest" assembly="Atlantis.Framework.QSCResendOrderEmail.Impl.dll" request_type="554" lpc="0" ws_url="http://app.dev.fastshoppingcart-com.ide/xfws/Mobile?wsdl"></ConfigElement>
</ConfigElements>