<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- Register the BotDetect configuration section -->
		<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime/>
		<pages maxPageStateFieldLength="-1" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect"/>
				<add tagPrefix="atlantis" namespace="Atlantis.Framework.Web.Stash" assembly="Atlantis.Framework.Web.Stash"/>
				<add tagPrefix="atlantis" namespace="Atlantis.Framework.Web.CaptchaCtl" assembly="Atlantis.Framework.Web.CaptchaCtl"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
		</handlers>
	</system.webServer>
	<botDetect>
		<captchaImage>
			<helpLink enabled="false" mode="image"/>
		</captchaImage>
	</botDetect>
</configuration>