<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.Engine" version="14.3.1.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Links.Interface" version="14.4.30.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="14.5.3.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.MobileRedirect.Interface" version="4.13.8.8" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.RenderPipeline.Interface" version="14.2.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Tokens.Interface" version="14.6.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.UserAgentEx.Interface" version="4.13.7.29" targetFramework="net40" />
</packages>