<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.LinkInfo.Impl.LinkInfoRequest" assembly="Atlantis.Framework.LinkInfo.Impl.dll" request_type="12" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.UserAgentEx.Impl.UserAgentExRequest" assembly="Atlantis.Framework.UserAgentEx.Impl.dll" request_type="528" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" />
  <ConfigElement progid="Atlantis.Framework.DataCacheGeneric.Impl.GetCacheDataRequest" assembly="Atlantis.Framework.DataCacheGeneric.Impl.dll" request_type="694" lpc="0" />
</ConfigElements>
