<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ShopperSegment.Impl.ShopperSegmentRequest" assembly="Atlantis.Framework.ShopperSegment.Impl.dll" request_type="686" lpc="0">
    <ConfigValue key="DataSourceName" value="Fastball.CustomerTracking" />
    <ConfigValue key="CertificateName" value="fastball.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="SALES" />
  </ConfigElement>
</ConfigElements>