<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="14.2.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DomainContactValidation.Interface" version="14.5.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DomainsTrustee.Interface" version="4.13.12.16" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeCache.Interface" version="14.5.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.3.1.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="14.2.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="14.5.3.1" targetFramework="net40" />
  <package id="Atlantis.Framework.TLDDataCache.Interface" version="14.5.28.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
</packages>