<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MyaAvailableProductNamespaces.Impl.MyaAvailableProductNamespacesRequest" assembly="Atlantis.Framework.MyaAvailableProductNamespaces.Impl.dll" request_type="494" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.idp.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.idp.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="IDP" />
  </ConfigElement>
</ConfigElements>