<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atlantis.Framework.EcommClientCertCheck.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.EcommClientCertCheck.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_EcommClientCertCheck_Impl_EcommClientCertCheckService_Service"
                serializeAs="String">
                <value>http://connect-pci.debug.mesa1.gdg/WSgdMethods/Service.asmx</value>
            </setting>
        </Atlantis.Framework.EcommClientCertCheck.Impl.Properties.Settings>
    </applicationSettings>
</configuration>