<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MAFirstDataCreateApplication.Impl.MAFirstDataCreateApplicationRequest" assembly="Atlantis.Framework.MAFirstDataCreateApplication.Impl.dll" request_type="594" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.MerchantAccounts" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>