<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.ValidateNonOrderRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="644" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.PriceEstimateRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="657" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdPricingEstimate/Service.asmx?WSDL">
    <ConfigValue key="ClientCertificateName" value="corp.web.sales.dev.client.godaddy.com" />
  </ConfigElement>
  <!--The Following Config Elements are for unit testing - Do not remove-->
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.PriceEstimateRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="65701" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WsgdPricingEstimate/Service.asmx?WSDL">
    <ConfigValue key="ClientCertificateName" value="corp.web.sales.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.PriceEstimateRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="65702" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdPricingEstimate/Service.asmx?WSDL">
  </ConfigElement>
</ConfigElements>