<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
	<ConfigElement progid="Atlantis.Framework.PromoToolGetOrderPromo.Impl.PromoToolGetOrderPromoRequest" assembly="Atlantis.Framework.PromoToolGetOrderPromo.Impl.dll" request_type="598" lpc="0" ws_url="http://siteadmin.dev.intranet.gdg/PromoTool/PromoTool.svc"></ConfigElement>
</ConfigElements>
