<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.QSCRemovePackage.Impl.QSCRemovePackageRequest" assembly="Atlantis.Framework.QSCRemovePackage.Impl.dll" request_type="560" lpc="0" ws_url="http://app.dev.fastshoppingcart-com.ide/xfws/Mobile?wsdl"></ConfigElement>
</ConfigElements>