<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeClaims.Impl" version="4.13.11.11" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeClaims.Interface" version="4.13.11.11" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeForms.Impl" version="4.13.11.15" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeForms.Interface" version="4.13.11.15" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeValidation.Impl" version="4.13.11.12" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeValidation.Interface" version="4.13.11.11" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="4.13.9.25" targetFramework="net40" />
  <package id="Atlantis.Framework.Localization.Interface" version="4.13.11.5" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.DotTypeRegistration.Interface" version="4.13.11.11" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Geo.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Interface" version="4.13.10.25" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization" version="4.13.11.7" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="4.13.11.4" targetFramework="net40" />
  <package id="Atlantis.Framework.RuleEngine" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.TLDDataCache.Interface" version="4.13.10.14" targetFramework="net40" />
</packages>