<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
	
<ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
  <ConfigElement request_type="655" progid="Atlantis.Framework.TLDDataCache.Impl.TLDLanguageRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" />
</ConfigElements>


