<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.TargetedShopperService.Impl.DecodeXid" assembly="Atlantis.Framework.TargetedShopperService.Impl.dll" request_type="717" lpc="0" ws_url="https://tss.test.glbt1.int.godaddy.com/Decode" />
  <ConfigElement progid="Atlantis.Framework.TargetedShopperService.Impl.EncodeXid" assembly="Atlantis.Framework.TargetedShopperService.Impl.dll" request_type="718" lpc="0" ws_url="https://tss.test.glbt1.int.godaddy.com/Encode" />
</ConfigElements>