<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ProductFreeCreditsByResource.Impl.ProductFreeCreditsByResourceRequest" assembly="Atlantis.Framework.ProductFreeCreditsByResource.Impl.dll" request_type="407" lpc="0">
    <ConfigValue key="DataSourceName" value="Billing" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>
