<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GadgetsVote.Impl.GadgetsVoteRequest" assembly="Atlantis.Framework.GadgetsVote.Impl.dll" request_type="529" lpc="0" ws_url="http://gadgets.dev.godaddy-com.ide/vote/JsonWebService.ashx" />
</ConfigElements>