<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ValidateInput.Impl.ValidateInputPhoneNumberRequest" assembly="Atlantis.Framework.ValidateInput.Impl.dll" request_type="769" />
  <ConfigElement progid="Atlantis.Framework.ValidateInput.Impl.ValidateInputPasswordRequest" assembly="Atlantis.Framework.ValidateInput.Impl.dll" request_type="770" />
</ConfigElements>
