<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommFreeProduct.Impl.RegisterFreeProductRequest" assembly="Atlantis.Framework.EcommFreeProduct.Impl.dll" request_type="679" lpc="0" ws_url="https://ecommrestricted.dev.glbt1.gdg/WSgdResourceGeneration/Service.asmx?op=ProcessFreeItems">
    <ConfigValue key="CertificateName" value="corp.web.cart.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Cart" />
  </ConfigElement>
</ConfigElements> 
