<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GoogleGetDNSKey.Impl.GoogleRequest" assembly="Atlantis.Framework.GoogleGetDNSKey.Impl.dll" request_type="524" lpc="0" ws_url="https://www.googleapis.com/siteVerification/v1/token" />
</ConfigElements>