<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommInvoices.Impl.EcommInvoicesRequest" assembly="Atlantis.Framework.EcommInvoices.Impl.dll" request_type="439" lpc="0" ws_url="http://gdcomm.test.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.EcommInvoiceDetails.Impl.EcommInvoiceDetailsRequest" assembly="Atlantis.Framework.EcommInvoiceDetails.Impl.dll" request_type="440" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.EcommInvoiceToBasket.Impl.EcommInvoiceToBasketRequest" assembly="Atlantis.Framework.EcommInvoiceToBasket.Impl.dll" request_type="441" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.EcommInvoiceCancel.Impl.EcommInvoiceCancelRequest" assembly="Atlantis.Framework.EcommInvoiceCancel.Impl.dll" request_type="442" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
</ConfigElements>
