<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HDVDSubmitTroubleTicket.Impl.HDVDSubmitTroubleTicketRequest" assembly="Atlantis.Framework.HDVDSubmitTroubleTicket.Impl.dll" request_type="487" lpc="0" ws_url="http://aries-mobilehccwebservices.dev.secureserver-net.ide/HCCAPIServiceAries.asmx" />
</ConfigElements>
