<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PixelsGet.Impl.PixelsGetRequest" assembly="Atlantis.Framework.PixelsGet.Impl.dll" request_type="627" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PixelsGetXML.Impl.PixelsGetXMLRequest" assembly="Atlantis.Framework.PixelsGetXML.Impl.dll" request_type="648" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.cart.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.cart.test.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Cart" />
  </ConfigElement>
</ConfigElements>
