<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommActivationData.Impl.EcommActivationDataRequest" assembly="Atlantis.Framework.EcommActivationData.Impl.dll" request_type="518" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdActivation/Service.asmx">
    <ConfigValue key="CertificateName" value="corp.web.cart.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>

