<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ProductPackagerProductPackage.Impl.ProductPackagerProductPackageRequest" assembly="Atlantis.Framework.ProductPackagerProductPackage.Impl.dll" request_type="610" lpc="0" ws_url="http://fbapp.dev.glbt1.gdg/ProductPackage/Service.asmx" />
</ConfigElements>