<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.OFFUsageByUsername.Impl.OFFUsageByUsernameRequest" assembly="Atlantis.Framework.OFFUsageByUsername.Impl.dll" request_type="446" lpc="0" ws_url="https://www.devoff.com/internal/workspace_soap.php">
    <ConfigValue key="OffKey" value="X-z-uJlls0W0fVvweG000WNr" />
  </ConfigElement>
</ConfigElements>