<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ResourcePricing.Impl.ResourcePricingRequest" assembly="Atlantis.Framework.ResourcePricing.Impl.dll" request_type="602" lpc="0" ws_url="https://commgtwyws.dev.glbt1.gdg/WSgdPricingData/Service1.asmx">
    <ConfigValue key="ClientCertificateName" value="corp.web.mya.dev.client.godaddy.com" />    
  </ConfigElement>
</ConfigElements>