<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PromoReferISCAvailCheck.Impl.PromoReferISCAvailCheckRequest" assembly="Atlantis.Framework.PromoReferISCAvailCheck.Impl.dll" request_type="654" lpc="0">
    <ConfigValue key="DataSourceName" value="gdmasterpromo" />
    <ConfigValue key="CertificateName" value="rcc.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="RCC" />
  </ConfigElement>
</ConfigElements>
