<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HDVDResetPassword.Impl.HDVDResetPasswordRequest" assembly="Atlantis.Framework.HDVDResetPassword.Impl.dll" request_type="490" lpc="0" ws_url="http://aries-mobilehccwebservices.dev.secureserver-net.ide/HCCAPIServiceAries.asmx" />
</ConfigElements>