<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <pages>
        <controls>
          <add tagPrefix="atlantis" namespace="Atlantis.Framework.Web.RenderPipeline" assembly="Atlantis.Framework.Web.RenderPipeline" />
        </controls>
      </pages>
     
    </system.web>

</configuration>
