<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthTwoFactorAddPhone.Impl.AuthTwoFactorAddPhoneRequest" assembly="Atlantis.Framework.AuthTwoFactorAddPhone.Impl.dll" request_type="512" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WSgdAuthentication/Authentication.asmx">
    <ConfigValue key="ClientCertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>
