<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.Engine" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Containers" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Links.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Render.Pipeline.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
</packages>