<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.CDS.Interface" version="14.1.23.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.RenderPipeline.Interface" version="14.2.21.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net40" />
</packages>