<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Support.Impl.SupportPhoneRequest" assembly="Atlantis.Framework.Support.Impl.dll" request_type="733" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Support.Impl.SupportContactsFromDbRequest" assembly="Atlantis.Framework.Support.Impl.dll" request_type="799">
    <ConfigValue key="DataSourceName" value="***REPLACE ME***" />
    <ConfigValue key="CertificateName" value="***REPLACE ME***" />
    <ConfigValue key="ApplicationName" value="***REPLACE ME***" />
  </ConfigElement>
</ConfigElements>