<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AddItem.Impl.AddItemRequest" assembly="Atlantis.Framework.AddItem.Impl.dll" request_type="4" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.EcommBillingSync.Impl.EcommBillingSyncRequest" assembly="Atlantis.Framework.EcommBillingSync.Impl.dll" request_type="647" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommProductAddOns.Impl.EcommProductAddOnsRequest" assembly="Atlantis.Framework.EcommProductAddOns.Impl.dll" request_type="652" lpc="0"  ws_url="http://gdcomm.dev.glbt1.gdg/wscgdBillingState/wscgdBillingState.dll?Handler=Default"/>

<!--
  Test Region
  <ConfigElement progid="Atlantis.Framework.AddItem.Impl.AddItemRequest" assembly="Atlantis.Framework.AddItem.Impl.dll" request_type="4" lpc="0" ws_url="http://gdcomm.test.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.EcommBillingSync.Impl.EcommBillingSyncRequest" assembly="Atlantis.Framework.EcommBillingSync.Impl.dll" request_type="647" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommProductAddOns.Impl.EcommProductAddOnsRequest" assembly="Atlantis.Framework.EcommProductAddOns.Impl.dll" request_type="652" lpc="0"  ws_url="http://gdcomm.test.glbt1.gdg/wscgdBillingState/wscgdBillingState.dll?Handler=Default"/>
-->
</ConfigElements>