<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
	<ConfigElement progid="Atlantis.Framework.QSCUnblockIP.Impl.QSCUnblockIPRequest" assembly="Atlantis.Framework.QSCUnblockIP.Impl.dll" request_type="587" lpc="0" ws_url="http://app.dev.fastshoppingcart-com.ide/xfws/Mobile-v1.0?wsdl"></ConfigElement>
</ConfigElements>