<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DomainsRAA.Impl.DomainsRAAVerifyRequest" assembly="Atlantis.Framework.DomainsRAA.Impl.dll" lpc="0" request_type="765" ws_url="https://dtvapp.dev.glbt1.gdg/RegRaaVerifyWebSvc/RegRaaVerifyWebSvc.svc">
    <ConfigValue key="ClientCertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="AppName" value="mbledpp" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.DomainsRAA.Impl.DomainsRAAStatusRequest" assembly="Atlantis.Framework.DomainsRAA.Impl.dll" lpc="0" request_type="767" ws_url="https://dtvapp.dev.glbt1.gdg/RegRaaVerifyWebSvc/RegRaaVerifyWebSvc.svc">
    <ConfigValue key="ClientCertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="AppName" value="mbledpp" />
  </ConfigElement>
</ConfigElements>