<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="atlantis">
        <section name="security" type="Atlantis.Framework.WebSecurity.RequestValidationPageSection, Atlantis.Framework.WebSecurity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />     
    </sectionGroup>
  </configSections>
  <atlantis>
    <security>
      <pages>
        <clear />
        <page path="page.aspx" name="txtPassword" />
        <page path="page2.aspx" name="txtPassword2" />
      </pages>
    </security>
  </atlantis>
  
  <!--Add this to your web.config -->
  <!--<system.web>
    <httpRuntime requestValidationType="CustomRequestValidator" />
  </system.web>-->
</configuration>