<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FastballCICreate.Impl.FastballCICreateRequest" assembly="Atlantis.Framework.FastballCICreate.Impl.dll" request_type="568" lpc="0" ws_url="http://sitetracking.dev.glbt1.gdg/fbiClickImpressionService/ClickImpressionService.asmx"></ConfigElement>
</ConfigElements>
