<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.QSCUpdatePackage.Impl.QSCUpdatePackageRequest" assembly="Atlantis.Framework.QSCUpdatePackage.Impl.dll" request_type="559" lpc="0" ws_url="http://app.dev.fastshoppingcart-com.ide/xfws/Mobile?wsdl"></ConfigElement>
</ConfigElements>