<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MSALoginUser.Impl.MSALoginUserRequest" assembly="Atlantis.Framework.MSALoginUser.Impl.dll" request_type="670" lpc="0" ws_url="https://mailapi.secureserver.net/private/SessionService.php" />
  <ConfigElement progid="Atlantis.Framework.MSAGetFolderList.Impl.MSAGetFolderListRequest" assembly="Atlantis.Framework.MSAGetFolderList.Impl.dll" request_type="671" lpc="0" ws_url="/private/MailService.php">
    <ConfigValue key="ServicePath" value="/private/MailService.php" />
  </ConfigElement>
</ConfigElements>