<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthTwoFactorStatus.Impl.AuthTwoFactorStatusRequest" assembly="Atlantis.Framework.AuthTwoFactorStatus.Impl.dll" request_type="515" lpc="0" ws_url="https://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
  
</ConfigElements>