<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FlyoutMenuService.Impl.FlyoutMenuServiceRequest" assembly="Atlantis.Framework.FlyoutMenuService.Impl.dll" request_type="715" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.myaapp.godaddycontent" />
    <ConfigValue key="CertificateName" value="myaapp.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="myaservices" />
  </ConfigElement>
</ConfigElements>