<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommGiftCardIsCancelled.Impl.EcommGiftCardIsCancelledRequest" assembly="Atlantis.Framework.EcommGiftCardIsCancelled.Impl.dll" request_type="626" lpc="0">
    <ConfigValue key="DataSourceName" value="Billing" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
    <ConfigValue key="RequestTimeout" value="00:00:05" />
  </ConfigElement>
</ConfigElements>