<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MailApi.Impl.LoginRequestHandler" assembly="Atlantis.Framework.MailApi.Impl.dll" request_type="10350" ws_url="https://mailapi.secureserver.net/private/SessionService.php" />
  <ConfigElement progid="Atlantis.Framework.MailApi.Impl.GetFolderListRequestHandler" assembly="Atlantis.Framework.MailApi.Impl.dll" request_type="10351" ws_url="/private/MailService.php"/>
  <ConfigElement progid="Atlantis.Framework.MailApi.Impl.GetMessageListRequestHandler" assembly="Atlantis.Framework.MailApi.Impl.dll" request_type="10352" ws_url="/private/MailService.php" />
  <ConfigElement progid="Atlantis.Framework.MailApi.Impl.GetFolderRequestHandler" assembly="Atlantis.Framework.MailApi.Impl.dll" request_type="10353"  ws_url="/private/MailService.php" />
</ConfigElements>
