<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DCCICannConfirm.Impl.DCCICannConfirmRequest" assembly="Atlantis.Framework.DCCICannConfirm.Impl.dll" request_type="608" lpc="0" ws_url="https://dsweb.test.glbt1.gdg/RegICANNConfirmWebSvc/RegICANNConfirmWebSvcService.svc" />
</ConfigElements>