<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthSendPasswordResetEmail.Impl.AuthSendPasswordResetEmailRequest" assembly="Atlantis.Framework.AuthSendPasswordResetEmail.Impl.dll" request_type="561" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WSgdAuthentication/Authentication.asmx">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>
