<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Providers.Basket.Tests.MockBasketAddRequest" assembly="Atlantis.Framework.Providers.Basket.Tests.dll" request_type="746" />
  <ConfigElement progid="Atlantis.Framework.Providers.Basket.Tests.MockBasketItemCountRequest" assembly="Atlantis.Framework.Providers.Basket.Tests.dll" request_type="760" />
</ConfigElements>
