<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Basket.Impl.BasketAddRequest" assembly="Atlantis.Framework.Basket.Impl.dll" request_type="746" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Providers.Basket.Tests.MockBasketAddRequest" assembly="Atlantis.Framework.Providers.Basket.Tests.dll" request_type="1746" />
</ConfigElements>
