<?xml version="1.0" encoding="utf-8"?>
<!-- reference: https://confluence.int.godaddy.com/display/ATLANTIS/Atlantis+Config -->
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Currency.Impl.CurrencyTypesRequest" assembly="Atlantis.Framework.Currency.Impl.dll" request_type="693" />
  <ConfigElement progid="Atlantis.Framework.Currency.Impl.CurrencyCountryMapRequest" assembly="Atlantis.Framework.Currency.Impl.dll" request_type="794" ws_url="http://cms.dev.glbt1.gdg/" />
  <ConfigElement progid="Atlantis.Framework.Currency.Impl.CurrencyOptionsByMarketRequest" assembly="Atlantis.Framework.Currency.Impl.dll" request_type="798" ws_url="http://cms.dev.glbt1.gdg/" />
</ConfigElements>
