<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MarketingPublication.Impl.MktgGetShopperPreferencesRequest" assembly="Atlantis.Framework.MarketingPublication.dll" request_type="340" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.MarketingPublication.Impl.MktgSetShopperCommPrefRequest" assembly="Atlantis.Framework.MarketingPublication.dll" request_type="337" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.MarketingPublication.Impl.MktgSetShopperCommDoubleOptRequest" assembly="Atlantis.Framework.MarketingPublication.dll" request_type="341" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.MarketingPublication.Impl.MktgSetShopperInterestPrefRequest" assembly="Atlantis.Framework.MarketingPublication.dll" request_type="757" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
</ConfigElements>