<?xml version="1.0"?>

<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <pages>
      <controls>
        <add tagPrefix="atlantis" namespace="Atlantis.Framework.Web.Stash" assembly="Atlantis.Framework.Web.Stash"/>
      </controls>
    </pages>
    
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
