<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.RegGetDotTypeRegistrarRequest" assembly="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.dll" request_type="281" lpc="0" ws_url="http://g1twdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
</ConfigElements>


