<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PLSignupInfoRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="522" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelDataRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="659" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelIdRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="660" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.ProgIdRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="661" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelTypeRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="662" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.IsPrivateLabelActiveRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="663" lpc="0" />
</ConfigElements>
