<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="atlantis.xsl"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DomainLookup.Impl.DomainLookupRequest" assembly="Atlantis.Framework.DomainLookup.Impl.dll" request_type="728" lpc="0" ws_url="https://cmpapp.dev.int.godaddy.com/parkwebws/parkweb.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainLookup.Impl.DomainLookupRequest" assembly="Atlantis.Framework.DomainLookup.Impl.dll" request_type="729" lpc="0" ws_url="https://cmpapp.dev.int.godaddy.com/parkwebws/webservicenotfound.asmx" />
</ConfigElements>