<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCache" version="14.2.19.1" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCacheService" version="4.13.12.21" targetFramework="net45" />
  <package id="Atlantis.Framework.Engine" version="14.3.1.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Interface" version="14.4.4.2" targetFramework="net45" />
  <package id="Atlantis.Framework.Localization.Interface" version="14.1.22.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Nimitz" version="14.2.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.PrivateLabel" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Products.Interface" version="14.2.19.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.BucketVersions" version="14.4.3.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.BucketVersions.Interface" version="14.4.3.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Geo.Interface" version="14.1.24.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Interface" version="4.14.4.2" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Localization" version="14.2.24.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="14.2.24.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.RenderPipeline.Interface" version="14.2.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Support" version="14.4.15.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Support.Interface" version="14.4.11.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Rest" version="14.1.2.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Support.Impl" version="14.3.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Support.Interface" version="14.3.4.1" targetFramework="net45" />
  <package id="Atlantis.Framework.SupportApi.Impl" version="14.4.4.2" targetFramework="net45" />
  <package id="Atlantis.Framework.SupportApi.Interface" version="14.4.4.2" targetFramework="net45" />
  <package id="Atlantis.Framework.Testing.MockEngine" version="14.1.16.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Testing.MockHttpContext" version="14.1.25.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="14.4.4.2" targetFramework="net45" />
  <package id="Atlantis.Framework.Tokens.Interface" version="4.13.11.18" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
</packages>