<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BonsaiPurchase.Impl.BonsaiPurchaseRequest" assembly="Atlantis.Framework.BonsaiPurchase.Impl.dll" request_type="630" lpc="0" ws_url="https://bonsaipurchase.dev.glbt1.gdg/BonsaiPurchase/Service.asmx">
    <ConfigValue key="ClientCertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>