<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HDVDGetEmailUsage.Impl.HDVDGetEmailUsageRequest" assembly="Atlantis.Framework.HDVDGetEmailUsage.Impl.dll" request_type="498" lpc="0" ws_url="http://aries-mobilehccwebservices.dev.secureserver-net.ide/HCCAPIServiceAries.asmx" />
</ConfigElements>