<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.SearchShoppers.Impl.SearchShoppersRequest" assembly="Atlantis.Framework.SearchShoppers.Impl.dll" request_type="2" lpc="0" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.ValidateField.Impl.ValidateFieldRequest" assembly="Atlantis.Framework.ValidateField.Impl.dll" request_type="507" lpc="0"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.AuthValidatePassword.Impl.AuthValidatePasswordRequest" assembly="Atlantis.Framework.AuthValidatePassword.Impl.dll" request_type="517" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WSgdAuthentication/Authentication.asmx">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.ShopperValidator.Impl.ShopperValidatorRequest" assembly="Atlantis.Framework.ShopperValidator.Impl.dll" request_type="588" lpc="0"></ConfigElement>
</ConfigElements>
