<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Auth.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.AuthValidatePassword.Impl" version="4.12.4.11" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="14.9.24.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="14.9.27.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService.Interface" version="14.9.27.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.9.9.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Nimitz" version="14.2.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="14.2.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Interface" version="14.6.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Rest" version="14.7.31.1" targetFramework="net40" />
  <package id="Atlantis.Framework.RuleEngine" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Shopper.Impl" version="14.8.1.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Shopper.Interface" version="14.6.2.1" targetFramework="net40" />
  <package id="Atlantis.Framework.ValidateField.Impl" version="4.13.7.15" targetFramework="net40" />
  <package id="Atlantis.Framework.ValidateField.Interface" version="4.14.4.1" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net40" />
</packages>