<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CarmaRemoveTrustedInvitation.Impl.CarmaRemoveTrustedInvitationRequest" assembly="Atlantis.Framework.CarmaRemoveTrustedInvitation.Impl.dll" request_type="420" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.carma" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>