<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PayeeProfileGet.Impl.PayeeProfileGetRequest" assembly="Atlantis.Framework.PayeeProfileGet.Impl.dll" request_type="477" lpc="0" ws_url="https://customerap.dev.glbt1.gdg/WSCgdCAP/WSCgdCAP.dll?Handler=Default">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>