<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.Auth.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.AuthValidatePassword.Impl" version="4.12.4.11" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="4.13.12.21" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Nimitz" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.RuleEngine" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Shopper.Impl" version="14.1.22.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Shopper.Interface" version="14.1.22.1" targetFramework="net40" />
</packages>