<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BazaarVoiceAPI.Impl.ReviewsAPIRequest" assembly="Atlantis.Framework.BazaarVoiceAPI.Impl.dll" request_type="638" lpc="0" ws_url="http://godaddy.ugc.bazaarvoice.com/bvstaging/data/reviews.xml">
    <ConfigValue key="ApiVersion" value="5.3" />
    <ConfigValue key="PassKey" value="pahgitzo2i7umfu2hr4vajc52" />
  </ConfigElement>
</ConfigElements>
