<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FastballGetOffersList.Impl.FastballGetOffersListRequest" assembly="Atlantis.Framework.FastballGetOffersList.Impl.dll" request_type="474" lpc="0" ws_url="http://fastball.dev.glbt1.gdg/offersapi/service.asmx" />
</ConfigElements>
