<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RemoveBulkdomain.Impl.RemoveBulkDomainRequest" assembly="Atlantis.Framework.RemoveBulkdomain.Impl.dll" request_type="105" lpc="0"  ws_url="http://gdcomm.test.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default"/>
</ConfigElements>
