<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Rules.Impl.RulesMainRequest" assembly="Atlantis.Framework.Rules.Impl.dll" request_type="672" lpc="0" ws_url="https://dtvapp.dev.glbt1.gdg/gdValidationRuleWebSvc/gdValidationRuleWebSvc.svc" />
</ConfigElements>
