<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PayeeProfilesList.Impl.PayeeProfilesListRequest" assembly="Atlantis.Framework.PayeeProfilesList.Impl.dll" request_type="480" lpc="0" ws_url="https://customerap.dev.glbt1.gdg/WSgdCAP/Service.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>
