<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RCCUpdatePLCategoryData.Impl.RCCUpdatePLCategoryData" assembly="Atlantis.Framework.RCCUpdatePLCategoryData.Impl.dll" request_type="646" lpc="0" ws_url="https://gdmasterapi.dev.glbt1.gdg/WSgdPLDataAPI/Service.asmx" >
    <ConfigValue key="ClientCertificateName" value="rcc.dev.intranet.gdg" />
  </ConfigElement>
</ConfigElements>