<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.CDS.Impl" version="14.1.22.2" targetFramework="net45" />
  <package id="Atlantis.Framework.CDS.Interface" version="14.1.23.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Conditions.Interface" version="4.13.10.12" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCache" version="15.1.28.1" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCacheService" version="14.9.27.1" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCacheService.Interface" version="14.9.27.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Engine" version="14.9.9.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net45" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Products.Interface" version="14.2.19.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.CDSContent.Interface" version="14.11.12.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Containers" version="14.10.18.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Links.Interface" version="14.4.30.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.PlaceHolder" version="15.2.11.2" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.PlaceHolder.Interface" version="15.2.11.2" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.RenderPipeline" version="14.2.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.RenderPipeline.Interface" version="14.2.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.TMSContent.Interface" version="15.1.30.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.TMSContentData.Interface" version="15.1.30.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Web.Interface" version="14.10.28.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Render.Containers" version="4.14.1.8" targetFramework="net45" />
  <package id="Atlantis.Framework.Render.ExpressionParser" version="14.7.7.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Render.MarkupParser" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Testing.MockHttpContext" version="14.6.5.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="14.4.4.2" targetFramework="net45" />
  <package id="Atlantis.Framework.Tokens.Interface" version="14.6.19.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
</packages>