<?xml version="1.0" ?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Atlantis.Framework.MyaAction.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <Atlantis.Framework.MyaAction.Impl.Properties.Settings>
      <setting name="Atlantis_Framework_MyaAction_Impl_MyaActionService_WSCmyaActionService"
        serializeAs="String">
        <value>http://commgtwyws.dev.glbt1.gdg:80/wscmyaAction/WSCmyaAction.dll?Handler=Default</value>
      </setting>
    </Atlantis.Framework.MyaAction.Impl.Properties.Settings>
  </applicationSettings>
</configuration>