<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.OAuthValidateClientId.Impl.OAuthValidateClientIdRequest" assembly="Atlantis.Framework.OAuthValidateClientId.Impl.dll" request_type="614" lpc="0" ws_url="https://mgmt.palms.dev.glbt1.gdg/logincontrol/service.asmx">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.OAuthGetAuthenticationCode.Impl.OAuthGetAuthenticationCodeRequest" assembly="Atlantis.Framework.OAuthGetAuthenticationCode.Impl.dll" request_type="615" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WSgdOAuthInternal/DIP/authorize">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <!--Dev: https://mgmt.palms.dev.glbt1.gdg/logincontrol/service.asmx
  Test: https://mgmt.palms.test.glbt1.gdg/logincontrol/service.asmx
  OTE: https://mgmt.palms.ote.phx3.gdg/logincontrol/service.asmx
  Prod: https://mgmt.palms.prod.mesa1.gdg/logincontrol/service.asmx-->

<!--DEV: https://authentication.dev.glbt1.gdg/WSgdOAuthInternal/DIP/authorize-->
</ConfigElements>