<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ECCGetEmailPlanInfo.Impl.ECCGetEmailPlanInfoRequest" assembly="Atlantis.Framework.ECCGetEmailPlanInfo.Impl.dll" request_type="226" lpc="0" ws_url="http://eccapi.devlhvm03.stgwbe.com/index.php?wsdl">
    <ConfigValue key="DataSourceName" value="corp.web.mya.ecc.api" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MUI" />
  </ConfigElement>
</ConfigElements>
