<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.DCCSetNameservers.Impl.DCCSetNameserversRequest" assembly="Atlantis.Framework.DCCSetNameservers.Impl.dll" request_type="114" lpc="0" ws_url="https://dccapp-general.dev.intranet.gdg/RegDCCRequestWS/RegDCCRequestWS.asmx">
    <ConfigValue key="ValidateUrl" value="https://dccapp-general.dev.intranet.gdg/RegDCCValidateWebSvc/RegDCCValidateWebSvc.asmx" />
    <ConfigValue key="VerifyUrl" value="https://dccapp-general.dev.intranet.gdg/RegDCCVerifyWS/RegDCCVerifyWS.asmx" />
  </ConfigElement>
</ConfigElements>
