<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.DCCSetNameservers.Impl.DCCSetNameserversRequest" assembly="Atlantis.Framework.DCCSetNameservers.Impl.dll" request_type="114" lpc="0" ws_url="https://dccapp-general.dev.intranet.gdg/RegDCCRequestWS/RegDCCRequestWS.asmx">
    <ConfigValue key="ValidateUrl" value="http://dccapp-general.dev.intranet.gdg/RegDCCValidateWS/RegDCCValidateWS.asmx" />
    <ConfigValue key="VerifyUrl" value="https://dccapp-general.dev.intranet.gdg/RegDCCVerifyWS/RegDCCVerifyWS.asmx" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
</ConfigElements>
