<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BuyerProfileSetDefault.Impl.BuyerProfileSetDefaultRequest" assembly="Atlantis.Framework.BuyerProfileSetDefault.Impl.dll" request_type="415" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>