<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommLOCAccountDetails.Impl.EcommLOCAccountDetailsRequest" assembly="Atlantis.Framework.EcommLOCAccountDetails.Impl.dll" request_type="565" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WSgdLOC/Service.asmx" />
</ConfigElements>