<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Products.Impl.NonUnifiedPfidRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="699" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.UnifiedProductIdRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="700" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductGroupsOfferedRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="701" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductInfoRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="702" lpc="0" />
</ConfigElements>
