<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.PayeeAdd.Impl.PayeeAddRequest" assembly="Atlantis.Framework.PayeeAdd.Impl.dll" request_type="478" lpc="0" ws_url="https://customerap.dev.glbt1.gdg/WSCgdCAP/WSCgdCAP.dll?Handler=Default">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>
