<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="atlantis.xsl"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.OfferedTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="637" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DCCDomainsDataCache.Impl.TLDMLByNameRequest" assembly="Atlantis.Framework.DCCDomainsDataCache.Impl.dll" request_type="634" lpc="0" ws_url="https://regweb.dev.glbt1.gdg/DomainsDataCacheWebSvc/DomainsDataCache.asmx" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ActiveTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="635" />
  <ConfigElement request_type="655" progid="Atlantis.Framework.TLDDataCache.Impl.TLDLanguageRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" />
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ValidDotTypesRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="667" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ExtendedTLDDataRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="668" lpc="0" />
</ConfigElements>