<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Conditions.Interface" version="4.13.10.12" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="14.9.23.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="14.9.27.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService.Interface" version="14.9.27.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DCCDomainsDataCache.Impl" version="14.5.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DCCDomainsDataCache.Interface" version="14.5.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DomainContactFields.Impl" version="14.5.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DomainContactFields.Interface" version="14.5.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeCache" version="16.4.1.2" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeCache.Interface" version="16.4.1.2" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeCache.Static" version="14.3.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeCache.StaticTypes" version="14.3.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeClaims.Interface" version="14.7.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeForms.Interface" version="14.12.3.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeValidation.Interface" version="4.14.1.8" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.9.9.1" targetFramework="net40" />
  <package id="Atlantis.Framework.EngineCache" version="15.5.11.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Nimitz" version="15.10.10.1" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="14.2.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Containers" version="14.4.4.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.DomainContactValidation.Interface" version="4.14.5.29" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.DotTypeRegistration" version="15.4.25.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.DotTypeRegistration.Interface" version="15.4.25.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="14.5.3.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Preferences.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.PrivateLabel.Interface" version="15.3.25.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.RenderPipeline.Interface" version="4.13.10.16" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.TLDDataCache" version="15.12.15.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.TLDDataCache.Interface" version="15.12.15.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Web.Interface" version="14.10.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.RegDotTypeProductIds.Interface" version="14.3.25.1" targetFramework="net40" />
  <package id="Atlantis.Framework.RegDotTypeRegistry.Interface" version="4.13.1.7" targetFramework="net40" />
  <package id="Atlantis.Framework.Render.ExpressionParser" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Render.MarkupParser" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.TLDDataCache.Impl" version="15.12.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.TLDDataCache.Interface" version="15.12.15.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net40" />
</packages>