<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GoogleDNSInsert.Impl.GoogleRequest" assembly="Atlantis.Framework.GoogleDNSInsert.Impl.dll" request_type="525" lpc="0" ws_url="https://www.googleapis.com/siteVerification/v1/webResource" />
</ConfigElements>