<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ReceiptSurveyInsert.Impl.ReceiptSurveyInsertRequest" assembly="Atlantis.Framework.ReceiptSurveyInsert.Impl.dll" request_type="564" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.idp.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.idp.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="IDP" />
  </ConfigElement>
</ConfigElements>