<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RegFreeProduct.Impl.RegisterFreeProductRequest" assembly="Atlantis.Framework.RegFreeProduct.Impl.dll" request_type="642" lpc="0" ws_url="https://ecommrestricted.dev.glbt1.gdg/WSgdResourceGeneration/Service.asmx?op=ProcessFreeItems">
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="SALES" />
  </ConfigElement>
</ConfigElements> 
