<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Providers.Personalization.Tests.MockGetTargetedMessagesRequest" assembly="Atlantis.Framework.Providers.Personalization.Tests.dll" request_type="669" lpc="0" ws_url="http://g1tlaprtds01.test.glbt1.gdg:8080/TargetedMessages"></ConfigElement>
</ConfigElements>