<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HDVDValidateTroubleTicket.Impl.HDVDValidateTroubleTicketRequest" assembly="Atlantis.Framework.HDVDValidateTroubleTicket.Impl.dll" request_type="492" lpc="0" ws_url="http://aries-mobilehccwebservices.dev.secureserver-net.ide/HCCAPIServiceAries.asmx" />
</ConfigElements>
