<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CertificateBinding_IPermissions">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://crmclient-api.dev.int.godaddy.com/Permissions.svc"
                binding="basicHttpBinding" bindingConfiguration="CertificateBinding_IPermissions"
                contract="CrmPermissionsService.IPermissions" name="CertificateBinding_IPermissions" />
        </client>
    </system.serviceModel>
</configuration>
