<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuctionConfirmBuyNow.Impl.AuctionConfirmBuyNowRequest" assembly="Atlantis.Framework.AuctionConfirmBuyNow.Impl.dll" request_type="364" lpc="0" ws_url="http://tdnam.test.intranet.gdg/trpAdminUtilsService/trpBiddingService.asmx?op=ConfirmBuyNow" />
  <ConfigElement progid="Atlantis.Framework.AuctionConfirmBuyNow.Impl.AuctionConfirmBuyNowBulkRequest" assembly="Atlantis.Framework.AuctionConfirmBuyNow.Impl.dll" request_type="678" lpc="0" ws_url="http://tdnam.test.intranet.gdg/trpAdminUtilsService/trpBiddingService.asmx?op=ConfirmBuyNowBulk" />
</ConfigElements>