<?xml version="1.0" encoding="UTF-8"?>
<ConfigElement progid="Atlantis.Framework.GoogleGetToken.Impl.GoogleRequest" assembly="Atlantis.Framework.GoogleGetToken.Impl.dll" request_type="523" lpc="0" ws_url="https://accounts.google.com/o/oauth2/token">
  <ConfigValue key="DataSourceName" value="GOOGLE_AUTH_CLIENT_SECRET" />
  <ConfigValue key="CertificateName" value="integrate.dev.client.godaddy.com" />
  <ConfigValue key="ApplicationName" value="integrate" />
</ConfigElement>