<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuctionMostActiveByPrice.Impl.AuctionMostActiveByPriceRequest" assembly="Atlantis.Framework.AuctionMostActiveByPrice.Impl.dll" request_type="447" lpc="0" ws_url="http://g1dwdnaweb01/trpLandingDomainsService/trpLandingDomains.asmx" />
</ConfigElements>