<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthTwoFactorDeletePending.Impl.AuthTwoFactorDeletePendingRequest" assembly="Atlantis.Framework.AuthTwoFactorDeletePending.Impl.dll" request_type="514" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WSgdAuthentication/Authentication.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>