<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MobilePushEmailSubscribe.Impl.MobilePushEmailSubscribeRequest" assembly="Atlantis.Framework.MobilePushEmailSubscribe.Impl.dll" request_type="546" lpc="0" ws_url="http://ecctest.devlhvm03.stgwbe.com/rim/index.php" />
</ConfigElements>