<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ProductOffer.Impl.ProductOfferRequest" assembly="Atlantis.Framework.ProductOffer.Impl.dll" request_type="24" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.PLSignupInfo.Impl.PLSignupInfoRequest" assembly="Atlantis.Framework.PLSignupInfo.Impl.dll" request_type="522" lpc="0" />
</ConfigElements>
