<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HDVDSubmitSyncPasswords.Impl.HDVDSubmitSyncPasswordsRequest" assembly="Atlantis.Framework.HDVDSubmitSyncPasswords.Impl.dll" request_type="488" lpc="0" ws_url="http://aries-mobilehccwebservices.dev.secureserver-net.ide/HCCAPIServiceAries.asmx" />
</ConfigElements>
