<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.Basket.Interface" version="4.13.10.9" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="4.13.9.25" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Shopper.Interface" version="4.0.0.0" targetFramework="net40" />
</packages>