<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
	<ConfigElement progid="Atlantis.Framework.QSCGetOrder.Impl.QSCGetOrderRequest" assembly="Atlantis.Framework.QSCGetOrder.Impl.dll" request_type="575" lpc="0" ws_url="http://app.dev.fastshoppingcart-com.ide/xfws/Mobile?wsdl"></ConfigElement>
</ConfigElements>
