<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement assembly="Atlantis.Framework.AuthChangePassword.Impl.dll" progid="Atlantis.Framework.AuthChangePassword.Impl.AuthChangePasswordRequest" lpc="0" request_type="71" ws_url="https://authentication.dev.glbt1.gdg/WSgdAuthentication/Authentication.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement assembly="Atlantis.Framework.AuthChangePassword.Impl.dll" progid="Atlantis.Framework.AuthChangePassword.Impl.AuthChangePasswordRequest" lpc="0" request_type="1071" ws_url="https://authentication.dev.glbt1.gdg/WSgdAuthentication/Authentication.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.ValidateField.Impl.ValidateFieldRequest" assembly="Atlantis.Framework.ValidateField.Impl.dll" request_type="507" lpc="0"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.AuthValidatePassword.Impl.AuthValidatePasswordRequest" assembly="Atlantis.Framework.AuthValidatePassword.Impl.dll" request_type="517" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WSgdAuthentication/Authentication.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>
