<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ECCGetShopperByEmailAddress.Impl.ECCGetShopperByEmailAddressRequest" assembly="Atlantis.Framework.ECCGetShopperByEmailAddress.Impl.dll" request_type="495" lpc="0" ws_url="http://eccapi.devlhvm03.stgwbe.com/index.php?wsdl" />
</ConfigElements>
