<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommInstoreStatement.Impl.EcommInstoreStatementRequest" assembly="Atlantis.Framework.EcommInstoreStatement.Impl.dll" request_type="496" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.InStoreCredit" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>