<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CarmaTrustedShoppers.Impl.CarmaTrustedShoppersRequest" assembly="Atlantis.Framework.CarmaTrustedShoppers.Impl.dll" request_type="408" lpc="0" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdCarma/WSgdCarma.dll?Handler=Default" />

  <!--
  DEV:
  <ConfigElement progid="Atlantis.Framework.CarmaTrustedShoppers.Impl.CarmaTrustedShoppersRequest" assembly="Atlantis.Framework.CarmaTrustedShoppers.Impl.dll" request_type="408" lpc="0" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdCarma/WSgdCarma.dll?Handler=Default" />
  
  TEST:
  <ConfigElement progid="Atlantis.Framework.CarmaTrustedShoppers.Impl.CarmaTrustedShoppersRequest" assembly="Atlantis.Framework.CarmaTrustedShoppers.Impl.dll" request_type="408" lpc="0" ws_url="http://commgtwyws.test.glbt1.gdg/WSgdcarma/WsgdCarma.dll?Handler=Default" />
  
  PROD:
  <ConfigElement progid="Atlantis.Framework.CarmaTrustedShoppers.Impl.CarmaTrustedShoppersRequest" assembly="Atlantis.Framework.CarmaTrustedShoppers.Impl.dll" request_type="408" lpc="0" ws_url="http://cancellation.prod.mesa1.gdg/WSgdCarma/WSgdCarma.dll?Handler=Default" />
  -->

</ConfigElements>