<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DBSCreateTdnamAuction.Impl.DBSCreateTdnamAuctionRequest" assembly="Atlantis.Framework.DBSCreateTdnamAuction.Impl.dll" request_type="304" lpc="0" ws_url="http://devisgweb01/DBS_CoreWS/DbsWebService.asmx"/>
</ConfigElements>
