<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RCCGetPLCategoryData.Impl.RCCGetPLCategoryData" assembly="Atlantis.Framework.RCCGetPLCategoryData.Impl.dll" request_type="649" lpc="0" ws_url="https://gdmasterapi.dev.glbt1.gdg/WSgdPLDataAPI/Service.asmx" >
    <ConfigValue key="ClientCertificateName" value="rcc.dev.intranet.gdg" />
  </ConfigElement>
</ConfigElements>