<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Sso.Impl.SsoValidateShopperAndGetTokenRequest" assembly="Atlantis.Framework.Sso.Impl.dll" request_type="747" ws_url="https://sso.dev.int.godaddy.com/v1/secure/api/token">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Sso.Impl.SsoValidateTwoFactorRequest" assembly="Atlantis.Framework.Sso.Impl.dll" request_type="748" ws_url="https://sso.dev.int.godaddy.com/v1/secure/api/token">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Sso.Impl.SsoGetKeyRequest" assembly="Atlantis.Framework.Sso.Impl.dll" request_type="749" ws_url="https://sso.dev.int.godaddy.com/v1/api/key/">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Sso.Impl.SsoValidateShopperAndGetTokenRequest" assembly="Atlantis.Framework.Sso.Impl.dll" request_type="750" ws_url="https://sso.dev.int.secureserver.net/v1/secure/api/token">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Sso.Impl.SsoValidateTwoFactorRequest" assembly="Atlantis.Framework.Sso.Impl.dll" request_type="751" ws_url="https://sso.dev.int.secureserver.net/v1/secure/api/token">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Sso.Impl.SsoGetKeyRequest" assembly="Atlantis.Framework.Sso.Impl.dll" request_type="752" ws_url="https://sso.dev.int.secureserver.net/v1/api/key/">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Sso.Impl.SsoGetTokenRequest" assembly="Atlantis.Framework.Sso.Impl.dll" request_type="754" ws_url="https://sso.dev.int.domainsbyproxy.com/v1/secure/api/token">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Sso.Impl.SsoValidateTwoFactorRequest" assembly="Atlantis.Framework.Sso.Impl.dll" request_type="755" ws_url="https://sso.dev.int.domainsbyproxy.com/v1/secure/api/token">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Sso.Impl.SsoGetKeyRequest" assembly="Atlantis.Framework.Sso.Impl.dll" request_type="756" ws_url="https://sso.dev.int.domainsbyproxy.com/v1/api/key/">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>