<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="14.2.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.ManagerUser.Interface" version="14.1.22.1" targetFramework="net40" />
  <package id="Atlantis.Framework.MiniEncrypt" version="4.13.12.21" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="14.2.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Containers" version="4.14.1.6" targetFramework="net40" />
  <package id="Atlantis.Framework.Shopper.Interface" version="14.1.22.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Sso.Impl" version="4.13.11.27" targetFramework="net40" />
  <package id="Atlantis.Framework.Sso.Interface" version="14.2.14.1" targetFramework="net40" />
</packages>