<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FTEAreaCodes.Impl.FTEAreaCodesRequest" assembly="Atlantis.Framework.FTEAreaCodes.Impl.dll" request_type="611" lpc="0" ws_url="http://g1tlfteweb01.test.glbt1.gdg:8280/admin/request" >
    <ConfigValue key="DataSourceName" value="fteapi" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="sales" />
  </ConfigElement>
</ConfigElements>