<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="atlantis" namespace="Atlantis.Framework.Web.DebugControl" assembly="Atlantis.Framework.Web.DebugControl"/>
      </controls>
    </pages>
  </system.web>

</configuration>
