<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atlantis.Framework.AuthTwoFactorEnable.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.AuthTwoFactorEnable.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_AuthTwoFactorEnable_Impl_WsGdAuthentication_Authentication"
                serializeAs="String">
                <value>https://authentication.dev.glbt1.gdg/WSgdAuthentication/Authentication.asmx</value>
            </setting>
        </Atlantis.Framework.AuthTwoFactorEnable.Impl.Properties.Settings>
    </applicationSettings>
</configuration>