<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="atlantis.xsl"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.GetShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="735" ws_url="http://shopper.dev.glbt1.gdg:80/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
</ConfigElements>
