<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthAuthorize.Impl.AuthAuthorizeRequest" assembly="Atlantis.Framework.AuthAuthorize.Impl.dll" request_type="396" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WSgdAuthentication/Authentication.asmx">
    <ConfigValue key="ClientCertificateName" value="corp.web.idp.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>