<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MSALoginUser.Impl.MSALoginUserRequest" assembly="Atlantis.Framework.MSALoginUser.Impl.dll" request_type="670" lpc="0" ws_url="https://mailapi.secureserver.net:443/private/SessionService.php" />
</ConfigElements>