<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
	<ConfigElement progid="Atlantis.Framework.PromoToolGetProdPromo.Impl.PromoToolGetProdPromoRequest" assembly="Atlantis.Framework.PromoToolGetProdPromo.Impl.dll" request_type="599" lpc="0" ws_url="http://siteadmin.dev.intranet.gdg/PromoTool/PromoTool.svc/SOAP"></ConfigElement>
</ConfigElements>
