<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MobileApplePush.Impl.MobileApplePushRequest" assembly="Atlantis.Framework.MobileApplePush.Impl.dll" request_type="437" lpc="0" ws_url="gateway.sandbox.push.apple.com">
    <ConfigValue key="CertificateName" value="DevGodaddyPushCert" />
    <ConfigValue key="Port" value="2195" />
    <ConfigValue key="ConnectionDurationSeconds" value="300" />
    <ConfigValue key="ConnectionOpenRetryCount" value="3" />
  </ConfigElement>
</ConfigElements>
