<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.WSTService.Impl.WSTTemplateInfoRequest" assembly="Atlantis.Framework.WSTService.Impl.dll" request_type="577" lpc="0" ws_url="http://WSTInternalServices.dev.intranet.gdg/wstservice.asmx"/>
  <ConfigElement progid="Atlantis.Framework.WSTService.Impl.WSTCategoryInfoRequest" assembly="Atlantis.Framework.WSTService.Impl.dll" request_type="578" lpc="0" ws_url="http://WSTInternalServices.dev.intranet.gdg/wstservice.asmx"/>
</ConfigElements>
