<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements> 
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.RegGetDotTypeProductIdListRequest" assembly="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.dll" request_type="279" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.RegGetDotTypeRegistrarRequest" assembly="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.dll" request_type="281" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegDotTypeRegistry.Impl.RegDotTypeRegistryRequest" assembly="Atlantis.Framework.RegDotTypeRegistry.Impl.dll" request_type="639" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegDotTypeProductIds.Impl.ProductIdListRequest" assembly="Atlantis.Framework.RegDotTypeProductIds.Impl.dll" request_type="640" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ActiveTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="635" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.CustomTLDGroupRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="636" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.OfferedTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="637" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DCCDomainsDataCache.Impl.TLDMLByNameRequest" assembly="Atlantis.Framework.DCCDomainsDataCache.Impl.dll" request_type="634" lpc="0" ws_url="https://regweb.dev.glbt1.gdg/DomainsDataCacheWebSvc/DomainsDataCache.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainContactFields.Impl.DomainContactFieldsRequest" assembly="Atlantis.Framework.DomainContactFields.Impl.dll" request_type="651" lpc="0"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.TLDLanguageRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="655" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ValidDotTypesRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="667" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ExtendedTLDDataRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="668" lpc="0" />
</ConfigElements>
