<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.DataCacheService" version="14.9.27.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService.Interface" version="14.9.27.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.9.9.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.RenderPipeline" version="14.2.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.RenderPipeline.Interface" version="14.2.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="14.4.4.2" targetFramework="net40" />
</packages>