<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Personalization.Impl.GetTargetedMessagesRequest" assembly="Atlantis.Framework.Personalization.Impl.dll" request_type="669" lpc="0" ws_url="http://g1tlaprtds01.test.glbt1.gdg:8080/TargetedMessages" />
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
</ConfigElements>